@font-face {
  font-family:century schoolbook;
  font-style:normal;
  font-weight:700;
  src:local('Century Schoolbook'),url(https://fonts.cdnfonts.com/s/56680/SCHLBKB.woff) format('woff')
}

html, body, div {
  height: 100%;
  width: 100%;
  font-family: 'Century Schoolbook', sans-serif;
  font-size: 12px;
  /* font-family: "Helvetica Neue", sans-serif; */
  /* background-color: lightgray */
}

#title{
  font-size: large;
  color: white;
  width: 30%;
}

.configSelector {
  width: 150px;
}

#titlePane {
  display: flex;
  flex-direction: col;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-top: 5px;
  height: 4.5%;
  width: 100%;
  background-color: #292b2c;
}

#controlBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 12%;
  width: 99%;
  /* background-color: lightgray; */
}

#filterControls {
  display: flex;
  flex-direction: row;
  margin: 0.25% 0%;
  /* padding: 0% 1%; */
  height: 33%;
  width: 99%;
  justify-content: space-between;
  align-items: center;
  /* background-color: lightgray; */
}


#selectorControls1, #selectorControls2 {
  display: flex;
  flex-direction: row;
  /* margin: 0.25% 0%; */
  height: 32%;
  width: 99%;
  align-items: center;
  /* background-color: lightgray; */
}

#visPane{
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  width: 99%;
  height: 84%;
  padding-top: 10px;
}

#canvas {
  margin-left: 100px;
  width: 1080px;
  height: 700px;
}

#sidePane {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 250px;
  height: 700px;
}

#downloadPane {
  width: 100%;
  height: 130px;
}

#colorSelectorContainer {
  padding-top: 10px;
  width: 100%;
  height: 570px;
}

.checkboxContainer {
  width: 125px;
}

.independentChkBx{
  margin-top: 10px;
}

.controlItemDiv {
  display: flex;
  flex-direction: row;
}

.selectorLbl {
  margin-left: 1%;
}

.selectorList, .selectorInput {
  /* margin-left: 0.05%; */
  margin-right: 0.05%;
}

.selectorList {
  width: 150px;
}

.selectorInput {
  width: 70px;
}

#lst_Legend_Position {
  width: 100px;
}

#X_axis_Title, #Y_axis_Title, #Legend_Title {
  width: 120px;
}

#Plot_Title {
  width: 200px;
}

#btnSubmit {
  margin-left: 5px;
  width: 100px;
  /* height: 90%; */
}

.x-axis text, .y-axis text {
  font-family: 'Century Schoolbook', sans-serif;
  /* font-size: 21px; */
}

.axis-grid line {
  stroke: rgb(206, 207, 208);
}

.axisText, .legendTitle {
  /* font-size: 21px; */
  font-weight: lighter;
}

.legendIconText {
  /* font-size: 21px; */
  font-weight: lighter;
}

.bbox {
  fill: none;
  stroke: black;
}

.plotTitle p {
  /* font-size: 21px; */
  text-anchor: middle;
  text-align: center;
}

.legendTitle {
  alignment-baseline: "hanging";
  text-anchor: middle;
}

.btnDownload {
  margin: 5px;
}

.hexInput {
  width: 75px;
  margin-top: 1px;
  margin-bottom: 10px;
}

#btnUpdate {
  margin-top: 10px;
  width: 100px;
}